:root {
  --text: #444;
  --text-h: #111;
  --bg: #fff;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;

  font: 18px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #ccc;
    --text-h: #f5f5f5;
    --bg: #111;
  }
}

body {
  margin: 0;
}

h1 {
  font-family: var(--sans);
  font-weight: 600;
  color: var(--text-h);
}
